@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    /*ALGUMA REGRAS QUE EU SEGUI
    
        usei *PX* em altura e comprimento de icones, efeitos como blur ou bordas, valores fixos e elementos 
        que tinha um font-size próprio definido, fora isso usei *EM* para tudo
    */

    --backgroundColor:  #333645;
    --backgroundColor-modal: rgba(0, 0, 0, 0.25);
    --backgroundColor-modal-light-mode: rgba(0, 0, 0, 0.65);
    --backgroundColor-light-mode: #FFFFFF;
    --blur-modal: blur(10px);
    
    --fontColor: #FFFFFF;
    --fontColor-light-mode: black;

    --corPrincipal: #F8646C;
    --fonte: "Roboto", sans-serif;

    --tamanhoFontePrincipal: 1em;
    --tamanhoFonteSegundaria: 0.85em;

    --cabecalhoPrincipal: 2em;
    --cabecalhoPrincipalHouver: 3em;

    --cabecalhoSegundario:  1.5em;
    --cabecalhoTerciario: 1.25em;
    --cabecalhoCard: 0.9em;

     --altura-fixa-header: 94.2px;  /* 93 = (tamanho do header) */
     --espacamento-fixo-header: 25px; /* 25 = espaço entre o header fixado com os demais objetos*/

}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--backgroundColor);
    font-family: var(--fonte);
    color: var(--fontColor);
    font-size: var(--tamanhoFontePrincipal);
    transition: 0.5s;
    padding-bottom: 5em;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--backgroundColor);
    backdrop-filter: var(--blur-modal);
    color:var(--fontColor)
}

.alt-header {
    transition: 0.5s;
    background-color: var(--backgroundColor-modal)
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.875em 10%;
    border-bottom: 1px solid var(--corPrincipal);
}

.switch {
    display: flex;
}

.switch-input{
    opacity: 0;
    position: absolute;
}


.switch-label {
    display: flex;
    background: var(--corPrincipal);
    cursor: pointer;
    width: 52px;
    height: 24px;
    padding: 4px;
    border-radius: 100px;
    transition: background-color 0.5s;
}


.ball {
    border-radius: 50%;
    background-color: var(--backgroundColor);
    height: 24px;
    width: 24px;
    transition: 0.5s
}


/*Seleciona o .switch-label qunado o switch-input estiver como checked*/
.switch-input:checked +.switch-label {
    background-color: var(--fontColor);;
    border-color: var(--corPrincipal);
}

/*Seleciona o .ball qunado o switch-input estiver como checked*/
.switch-input:checked +.switch-label .ball{
    transform: translateX(28px); /*28 = 52 (comprimento do label) - 24 (comprimento da bolinha)*/
}

main {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.container-section {
    display: flex;
    flex-direction: column;
    gap: 4.375em;
    padding-top:  var(--altura-fixa-header);
    align-items: center;
}

.container-section h1 {
    margin-top: var(--espacamento-fixo-header);    
}

h1 {
    font-size: var(--cabecalhoPrincipal);
    font-weight: bold;
    text-align: center;
}

.container-ap{
    margin-top: 209px; /* = 100 margin padrão + 109 altura do header fixado */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: var(--altura-fixa-header);
}

.container-ap p {
    font-weight: bold;
}

.container-ap img {
    border-radius: 20px;
    border: 4px var(--corPrincipal) solid;
}

.container-ap-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.875em
}


.container-ap-frase{
    width: 312px;
}

h2 {
    font-size: var(--cabecalhoSegundario);
    font-weight: bold;
    line-height: 28px;
}

h2 b {
    color: var(--corPrincipal);
}

.container-btn-ap{
   display: flex;
   gap: 0.625em; 
}

.btn {
    width: 132px;
    height: 38px;
    background-color: var(--corPrincipal);
    border: none;
    color: var(--fontColor);
    border-radius: 8px;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-alt{
    background-color: transparent;
    border: 1px var(--corPrincipal) solid;
    transition: 0.5s;
}

.texto-sobre{
    width: 426px;
    text-align: center;
}



.container-formacao{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1.875em;
}

.container-instituicao{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.container-instituicao p {
    font-size: var(--tamanhoFonteSegundaria);
    line-height: 24px;

}

.container-curso{
    width: 50%;
    display: flex;
    flex-direction: column;
}

h3{
    font-weight: bold;
    font-size: var(--cabecalhoTerciario);
    margin-bottom: 10px;
}

.container-curso p {
    line-height: 24px;
}

.container-curso b {
    font-weight: bold;
}

.container-habilidades {
    width: 100%;
}

.container-habilidades-icones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 30px;
}

.habilidades-icones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9375em;
}

.container-projeto-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.75em;
}

.projeto-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid var(--corPrincipal);
    border-radius: 25px;
    padding: 1.875em 1.25em;
    gap: 1.375em;
    max-width: 455.5px;
}

.projeto-card h3 {
    font-size: var(--cabecalhoCard)
}

.projeto-card p {
    font-size: var(--tamanhoFonteSegundaria);
    line-height: 19px;
    height: 100%;
    max-height: 250px;
}

.icones-container {
    display: flex;
    height: 44px;
    width: 100%;
    justify-content: space-around;
}

.container-btn-card{
    display: flex;
    gap: 1.25em;
}

.container-btn-contatos {
    display: flex;
    gap: 3.125em;
}

.container-btn-contatos a{
    text-decoration: none;
}

.btn-contato{
    gap: 0.3125em;
    font-weight: bold;
}

.btn-contato img {
    flex: none;
    max-width: 18px;
    max-height: 18px;
}

.imagem-projeto{
    width: 100%;
}

.btn a {
    text-decoration: none;
    color: var(--fontColor);
    transition: 0.5s;
}

/*Menu Hamburguer e modal*/

.modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    margin-top: var(--altura-fixa-header); 
    padding-top: var(--espacamento-fixo-header);
    z-index: 200;
    background-color: var(--backgroundColor-modal);
    backdrop-filter: var(--blur-modal);
    top:0;
    animation: fade 1s;
    transition: 0.5s;
}

.modal h1{
    color: var(--corPrincipal);
}

.modal nav {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2em
}

.modal a{
    font-size: var(--cabecalhoPrincipal);
    font-weight: bold;
    text-decoration: none;
    color: var(--fontColor);
    transition: 0.3s;
}

.modal a:hover{
    font-size: var(--cabecalhoPrincipalHouver);
    color: var(--corPrincipal);
}

.menu-hamburguer {
    width: 33px;
    height: 33px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.icone-menu, .icone-close{
    cursor: pointer;
    padding: 0.1em;
}

.menu-hamburguer:hover .icone-menu, 
.menu-hamburguer:hover .icone-close{
    background-color: var(--corPrincipal);
    border-radius: 50%;
    box-sizing: border-box;
}

.menu-hamburguer:hover .icone-menu{
    content: url(../assets/icones-headers/menu-hamburguer-alt.svg);
}

.menu-hamburguer:hover .icone-close{
    content: url(../assets/icones-headers/close-alt.svg);
}

.hidde {
    display: none;
}

/*light mode*/

.ligth-mode {
    background-color: var(--backgroundColor-light-mode);
    color: var(--fontColor-light-mode);
    transition: 0.5s;
}

.ligth-mode .btn-alt, .ligth-mode .btn-alt a{
    color: var(--fontColor-light-mode);
    transition: 0.5s;
}

.ligth-mode .modal, .ligth-mode .alt-header {
    transition: 0.5s;
    background-color: var(--backgroundColor-modal-light-mode);
}



